html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.brand-element {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
}

.brand-element img {
    width: 2rem;
    height: auto;
}

.booking-container {
    max-width: 52vw;
    font-size: small;
}
