@page
@model Turbokart.Web.Pages.BookingModel
@{
}

<h1>Booking</h1>

<!-- Add forms for Name, email, phone number, amount of people -->

@await Html.PartialAsync("~/Areas/SharedLayout/Pages/_CalendarPartial.cshtml", Model)