@page
@model Razor_Bakery.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>Some <i>razor sharp</i> prices at Razor_Bakery</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia mollis dignissim. Sed justo sem, vestibulum nec rhoncus eu, placerat vel turpis. Phasellus imperdiet convallis augue, a venenatis urna aliquam non. Nam a libero faucibus ante tincidunt euismod at bibendum ex. Vestibulum faucibus scelerisque mi, quis elementum elit hendrerit eu. Nunc id sem diam. Etiam faucibus faucibus leo vel fermentum. Quisque tristique ex eu varius dapibus. Ut quis lacus sit amet ante congue laoreet. Mauris convallis, leo ac aliquet blandit, lorem nibh sodales nisl, a finibus erat libero in dolor. Morbi nec ante pulvinar, condimentum nibh eget, commodo erat.

        Integer vitae magna eu justo consectetur interdum ullamcorper quis tellus. Nullam id urna in sapien dictum auctor. Aenean in mi nec nunc pellentesque aliquet porta et nisi. Cras ullamcorper mauris sed efficitur mollis. Sed blandit tristique diam nec tristique. Donec tincidunt ut sapien sit amet interdum. Nullam feugiat ultricies iaculis. Donec sit amet felis eu quam lobortis vehicula vel ac magna. Donec vulputate est lectus, a interdum diam malesuada a. Curabitur et ligula aliquam, vehicula lorem ut, sodales elit. In et lacinia lectus.

        Ut posuere nulla et ante malesuada auctor. Sed quis lacus at ante molestie accumsan non bibendum eros. Sed semper, leo vel pharetra laoreet, lectus magna rhoncus nisl, at volutpat orci sapien quis libero. Pellentesque eleifend tellus quis lacus imperdiet laoreet. Curabitur porta ex eu tellus faucibus egestas. Cras augue nibh, facilisis vel rutrum pellentesque, fringilla vel tortor. Mauris fringilla dolor in lorem ultrices varius. Vestibulum non rutrum arcu. Vivamus eu ultricies lectus, nec tincidunt mi. Curabitur in euismod velit. Vivamus fermentum diam vel erat gravida, at efficitur nisl aliquet.


    </p>
</section>
