<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turbokart.Web</title>
    <link rel="stylesheet" href="~/_content/Turbokart.SharedWebComponents/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/Turbokart.SharedWebComponents/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_content/Turbokart.SharedWebComponents/css/header-footer-layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand brand-element" asp-area="" asp-page="/Index">
                    <img src="~/_content/Turbokart.SharedWebComponents/img/_logo.png" alt="Logo" />
                    <h2 class="navbar-brand-text">Turbokart</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Hjem</a>
                        </li><li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Booking">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Om os</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top  text-muted">
        <div class="container">
            <p><b>Turbokart kontaktoplysninger og åbningstider</b></p>
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col-wrapper">
                        <p class="footer-title">Overskrift</p>
                        <ul class="list-group list-group-flush">
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="#">Link to phone number</a>
                            </li>
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="https://maps.app.goo.gl/Efqoewb1NQw88JSb9">Link to address</a>
                            </li>
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="#">Link to something</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col-wrapper">
                        <p class="footer-title">Overskrift 2</p>
                        <ul class="list-group list-group-flush">
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="#">Link to phone number</a>
                            </li>
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="https://maps.app.goo.gl/Efqoewb1NQw88JSb9">Link to address</a>
                            </li>
                            <li class="item list-group-item">
                                <img class="item-icon" src="#" alt="Alternate Text" />
                                <a class="item-text" href="#">Link to something</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac dui</p>
            </div>
            <div>
                &copy; 2024 - Turbokart.Web - <a asp-area="" asp-page="/Privacy">Om os</a>
            </div>
        </div>
    </footer>

    <script src="~/_content/Turbokart.SharedWebComponents/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/Turbokart.SharedWebComponents/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/Turbokart.SharedWebComponents/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>